---
import '@/styles/globals.css';
import ThemeToggleIsland from "@/components/ThemeToggleIsland.tsx";
const { title, nothing } = Astro.props;
const isDev = import.meta.env.DEV;
---
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={"An 8th grader and avid coder."} />
    <title>{title}</title>
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Geist+Mono:wght@100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Lora:ital,wght@0,400..700;1,400..700&display=swap" rel="stylesheet">

    <!-- Google tag (gtag.js) -->
    {!isDev &&
    <>
    <script
      is:inline
      async
      src="https://www.googletagmanager.com/gtag/js?id=G-Y0HNZET7NE"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());

      gtag("config", "G-Y0HNZET7NE");
    </script>
    </>
    }
  </head>
  <body>
    <div style="position: fixed; top: 1rem; right: 1rem; z-index: 1000;">
      <ThemeToggleIsland client:only="react" />
    </div>
    {nothing
      ? <div><slot /></div>
      : <div class="container mx-auto py-10 px-52"><slot /></div>
    }
  </body>
</html>
